@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /*  RGB Colors Value */
    --color-primary: 221 44 80; /* #dd2d50 */
    --color-accent: 21 29 40; /* #161e29 */
    --color-secondary-light-blue: 204 218 234; /* #cedbeb */
    --color-secondary-light-green: 227 251 198; /* #e2fbc4 */
    --color-secondary-pink: 253 243 216; /* #fdf3d8 */
    --color-secondary-blue: 49 104 170; /* #3168aa */
    --color-secondary-green: 136 159 52; /* #889f34 */
    --color-secondary-orange: 254 172 0; /* #feac00 */
  }
}

body {
  font-family: Montserrat, sans-serif;
  overflow-y: scroll;
}

.supported-screen-size {
  display: none;
}

.unsupported-screen-size {
  display: hidden;
}

@media (min-width: 1440px) {
  .supported-screen-size {
    display: block;
  }

  .unsupported-screen-size {
    display: none;
  }
}
